---
{
	"title": "Protecting Privacy",
	"language": "en",
	"altLangPrefix": "topic",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" }
	],
	"dateModified": "2014-10-24",
	"share": "false",
	"feedback": "false",
	"deptfeature": false
}
---
<div class="row profile">
	<div class="col-md-8">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">Nunc consectetur sapien sit amet magna varius tincidunt. Nam lobortis dui sit amet lacus consequat, ut vulputate ex cursus. Curabitur vitae felis at lorem pharetra suscipit at id augue. In vel sem non ex suscipit tristique vitae a augue. Vestibulum ultricies mi vitae sem tincidunt varius. Cras eget ipsum in augue ultrices accumsan.</p>
	</div>
	<div class="col-md-4 mrgn-bttm-md mrgn-tp-md">
		<img alt="test image" src="http://placehold.it/400x200?text=Image" class="img-responsive" />
	</div>
</div>
<div class="row">
	<section class="col-md-12">
		<div class="row">
			<section class="col-md-4">
				<h3 class="h5"><a href="issues-and-advice/">Issues and advice</a></h3>
				<p>Nullam feugiat nibh a metus laoreet lobortis. Suspendisse vitae neque viverra, facilisis massa ut, mattis diam.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="tools-for-businesses/">Tools for businesses</a></h3>
				<p>Praesent ac mi tempus ex tempor ullamcorper. Nam eleifend neque eu arcu consectetur, ac scelerisque risus dignissim.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="tools-for-federal-institutions/">Tools for federal institutions</a></h3>
				<p>Vivamus cursus nibh sed tortor porta suscipit. Sed in velit non velit condimentum porta id sed purus.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Tools for youth, teachers and parents</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu eu nulla sodales ullamcorper nec a turpis. Praesent sed quam id metus vulputate facilisis.</p>
			</section>
		</div>
	</section>
</div>