---
{
	"title": "Privacy rights",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "home.html" },
		{ "title": "About Privacy", "link": "../" }
	],
	"dateModified": "2014-02-19",
	"share": "false",
	"feedback": "false",
	"pageclass": "secondary",
}
---
<div class="row">
	<div class="col-md-8 pull-right">
		<div class="article-title">
			<h1 class="">{{{title}}}</h1>
		</div>
	</div>
	<div class="col-md-4 mrgn-tp-lg">
		<section class="box box-opc box-opc-highlight alternate-versions">
			<h2 class="h1">Alternate versions</h2>
			<ul class="list-unstyled">
				<li><a href="#"><span class="fa fa-file-pdf-o"></span> PDF version <small>(236 kB)</small></a></li>
				<li><a href="#"><span class="fa fa-book"></span> e-Book <small>requires Adobe Flash</small></a></li>
			</ul>
		</section>
		<section class="box box-opc box-opc-dull toc toc-sidebar">
			<h2 class="h1">Table of Contents</h2>
			<ul class="list-unstyled">
				<li><a href="#">Lorem ipsum dolor </a></li>
				<li><a href="#">Proin id arcu eu nulla</a></li>
				<li><a href="#">Praesent sed</a></li>
				<li><a href="#">Duis elementum eros malesuada</a></li>
				<li><a href="#">Curabitur porttitor</a></li>
				<li><a href="#">Integer ornare lectus </a></li>
				<li><a href="#">Nulla in lacus ultrices</a></li>
			</ul>
		</section>
	</div>
	<section class="col-md-8 pull-right">
		<div class="article-content">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<div class="alert alert-notice">
				<h2 class="title">Notice</h2>
				<p>Integer neque dui, sagittis et consectetur laoreet, imperdiet tempor diam. Fusce neque sem, suscipit vel molestie ut, dapibus nec sapien. Vestibulum massa lacus, blandit ac commodo at, commodo consequat mi. In sodales imperdiet elit id hendrerit. Mauris facilisis ornare ante, et malesuada turpis porta varius.</p>
			</div>
			<h2>Subsection One</h2>
			<p>Integer neque dui, sagittis et consectetur laoreet, imperdiet tempor diam. Fusce neque sem, suscipit vel molestie ut, dapibus nec sapien. Vestibulum massa lacus, blandit ac commodo at, commodo consequat mi. In sodales imperdiet elit id hendrerit. Mauris facilisis ornare ante, et malesuada turpis porta varius.</p>
			<p>Integer neque dui, sagittis et consectetur laoreet, imperdiet tempor diam. Fusce neque sem, suscipit vel molestie ut, dapibus nec sapien. Vestibulum massa lacus, blandit ac commodo at, commodo consequat mi. In sodales imperdiet elit id hendrerit. Mauris facilisis ornare ante, et malesuada turpis porta varius.</p>
			<h2>Subsection Two</h2>
			<p>Integer neque dui, sagittis et consectetur laoreet, imperdiet tempor diam. Fusce neque sem, suscipit vel molestie ut, dapibus nec sapien. Vestibulum massa lacus, blandit ac commodo at, commodo consequat mi. In sodales imperdiet elit id hendrerit. Mauris facilisis ornare ante, et malesuada turpis porta varius.</p>
		</div>
		<div class="further-reading">
			<h2 class="title">Further reading</h2>
			<div class="row">
				<ul class="list-unstyled">
					<li class="col-md-6">
						<a href="#">Integer neque dui, sagittis et consectetur laoreet</a>
					</li>
					<li class="col-md-6">
						<a href="#">Integer neque dui, sagittis et consectetur laoreet</a>
					</li>
					<li class="col-md-6">
						<a href="#">Integer neque dui, sagittis et consectetur laoreet</a>
					</li>
					<li class="col-md-6">
						<a href="#">Integer neque dui, sagittis et consectetur laoreet</a>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<aside class="col-md-4 pull-left">
		<section class="box box-opc box-opc-primary related-content">
			<h2 class="h1">Related content</h2>
			<ul class="list-unstyled">
				<li><a href="#">Fusce vehicula neque commodo erat</a></li>
				<li><a href="#">Pharetra, ut rhoncus ante lobortis.dui vitae</a></li>
				<li><a href="#">Mi pretium, ac aliquam nunc viverra.Quisque ultricies malesuada nisl et tempus.</a></li>
			</ul>
		</section>
	</aside>
</div>
<aside class="row">
	<div class="col-md-3 pull-right">
		<div class="widget helpful-page">
			<h2 class="title">Was this page helpful?</h2>
			<ul class="" role="group">
				<li><a href="#" class="btn btn-sm btn-highlight inverse">Yes</a></li>
				<li><a href="#" class="btn btn-sm btn-highlight inverse">No</a></li>
				<li><a href="#" class="btn btn-sm btn-highlight inverse">Somewhat</a></li>
			</ul>
		</div>
	</div>
</aside>