---
{
	"title": "Advice to Parliament",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "home.html" },
		{ "title": "Our actions and decisions", "link": "../" }
	],
	"dateModified": "2014-02-19",
	"share": "false",
	"feedback": "false",
	"pageclass": "secondary",
}
---
<div class="row">
	<section class="col-md-8">
		<h1 class="">{{{title}}}</h1>
		<div class="news-and-announcements">
			<!---->
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Report summary</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">November 15, 2016</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h2>
							<p class="item-excerpt">Proin id arcu eu nulla sodales ullamcorper nec a turpis. Praesent sed quam id metus vulputate facilisis.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Report summary</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">September 25, 2016</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Duis elementum eros malesuada, finibus neque et, consectetur augue.</a></h2>
							<p class="item-excerpt">Curabitur porttitor arcu ut pretium molestie. Integer ornare lectus sed turpis convallis vehicula. Nulla in lacus ultrices, congue nibh sit amet, ullamcorper mauris.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Report summary</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">March 25, 2016</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Maecenas eget est quis metus varius egestas eu a turpis.</a></h2>
							<p class="item-excerpt">Quisque eget ipsum ac lacus molestie euismod a non tortor. Donec luctus urna ac felis consequat, sit amet ultricies ex tristique. Vestibulum vitae nulla vel libero tincidunt aliquet. Donec et nibh eget augue rhoncus auctor.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Report summary</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">January 5, 2016</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Nulla tristique urna ut elit accumsan porttitor.</a></h2>
							<p class="item-excerpt">Pellentesque at ipsum eu nunc commodo sagittis sit amet rutrum libero. Quisque posuere metus a feugiat lacinia.</p>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<ul class="pagination">
				<li><a href="#" rel="prev">Previous</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" rel="next">Next</a></li>
			</ul>
		</div>
	</section>
	<div class="col-md-4 mrgn-tp-lg">
		<section class="box box-opc box-opc-highlight filters filters-cont">
			<h2 class="h1">Filter news</h2>
			<details class="filter-group">
				<summary>
					<h3>Filter by topic</h3>
				</summary>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Lorem ipsum dolor sit amet</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Lorem ipsum</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Dolor sit amet</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Sit amet</label>
					</div>
				</div>
				<a href="#" class="">See more topics</a>
			</details>
			<details class="filter-group">
				<summary>
					<h3>Filter by Year</h3>
				</summary>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2015</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2014</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2013</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2012</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2011</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> Older</label>
							</div>
						</div>
					</div>
				</div>
			</details>
		</section>
	</div>
</div>