{{#is language "en"}}
<div class="row">
	<div class="col-md-3">
		<section>
			<h3>About the OPC</h3>
			<p>The Privacy Commissioner of Canada is an Agent of Parliament whose mission is to protect and promote privacy rights.</p>
			<ul class="list-unstyled">
				<li><a href="/en/about-the-opc/who-we-are/">Who we are</a></li>
				<li><a href="/en/about-the-opc/what-we-do/">What we do</a></li>
				<li><a href="/en/about-the-opc/opc-operational-reports/">OPC operational reports</a></li>
				<li><a href="/en/about-the-opc/publications/">Publications</a></li>
				<li><a href="/en/about-the-opc/working-at-the-opc/">Working at the OPC</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>OPC news</h3>
			<p>Get updates about the OPC’s announcements and activities, as well as the events in which we participate.</p>
			<ul class="list-unstyled">
				<li><a href="/en/opc-news/news-and-announcements/">News and announcements</a></li>
				<li><a href="/en/opc-news/privacy-events/">Privacy events</a></li>
				<li><a href="/en/opc-news/speeches/">Speeches</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>Your privacy</h3>
			<p><strong>We respect your privacy</strong></p>
			<p>Read our <a href="/en/privacy-and-transparency-at-the-opc/pp/">Privacy policy</a> and <a href="/en/privacy-and-transparency-at-the-opc/terms-and-conditions-of-use/">Terms and conditions of use</a> to find out more about your privacy and rights when using the <a href="/">priv.gc.ca</a> website or contacting the Office of the Privacy Commissioner of Canada.</p>
		</section>
		<section>
			<h3>Transparency</h3>
			<ul class="list-unstyled">
				<li><a href="/en/privacy-and-transparency-at-the-opc/proactive-disclosure/">Proactive disclosure</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>Contact us</h3>
			<p>If you have a question, concerns about your privacy or want to file a complaint against an organization, we are here to help.</p>
			<a href="/en/contact-the-opc/" role="button" class="btn btn-default active">Contact the OPC</a>

		</section>
		<section>
			<h3>Stay connected</h3>
			<ul class="list-unstyled">
				<li><span class="fa fa-comments"></span> <a href="http://blog.priv.gc.ca/">OPC blog</a></li>
				<li><span class="fa fa-facebook-square"></span> <a href="https://www.facebook.com/PrivCanada/">OPC Facebook</a></li>
				<li><span class="fa fa-linkedin-square"></span> <a href="https://www.linkedin.com/company/office-of-the-privacy-commissioner-of-canada">OPC LinkedIn</a></li>
				<li><span class="fa fa-rss-square"></span> <a href="/en/rss-feeds/">OPC RSS feeds</a></li>
				<li><span class="fa fa-twitter"></span> <a href="https://twitter.com/PrivacyPrivee">OPC Twitter</a></li>
				<li><span class="fa fa-youtube"></span> <a href="https://www.youtube.com/user/PrivacyComm">OPC YouTube channel</a></li>
			</ul>
		</section>
	</div>
</div>
{{else}}
<div class="row">
	<div class="col-md-3">
		<section>
			<h3>À propos du Commissariat</h3>
			<p>Le commissaire à la protection de la vie privée du Canada est un agent du Parlement qui a pour mission de protéger et de promouvoir le droit à la vie privée.</p>
			<ul class="list-unstyled">
				<li><a href="/fr/a-propos-du-commissariat/qui-nous-sommes/">Qui nous sommes</a></li>
				<li><a href="/fr/a-propos-du-commissariat/ce-que-nous-faisons/">Ce que nous faisons</a></li>
				<li><a href="/fr/a-propos-du-commissariat/rapports-operationnels-du-commissariat/">Rapports sur les activités du Commissariat</a></li>
				<li><a href="/fr/a-propos-du-commissariat/publications/">Publications</a></li>
				<li><a href="/fr/a-propos-du-commissariat/travailler-au-commissariat/">Travailler au Commissariat</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>Nouvelles du Commissariat</h3>
			<p>Soyez informés des annonces et des activités du Commissariat à la protection de la vie privée du Canada de même que des événements auxquels il participe.</p>
			<ul class="list-unstyled">
				<li><a href="/fr/nouvelles-du-commissariat/nouvelles-et-annonces/">Nouvelles et annonces</a></li>
				<li><a href="/fr/nouvelles-du-commissariat/evenements-lies-a-la-protection-de-la-vie-privee/">Événements liés à la protection de la vie privée</a></li>
				<li><a href="/fr/nouvelles-du-commissariat/allocutions/">Allocutions</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>Votre vie privée</h3>
			<p><strong>Nous respectons votre vie privée.</strong></p>
			<p>Lisez notre <a href="/fr/protection-de-la-vie-privee-et-transparence-au-commissariat/pp/">Politique sur la protection des renseignements personnels</a> et nos <a href="/fr/protection-de-la-vie-privee-et-transparence-au-commissariat/conditions-d-utilisation/">Conditions d’utilisation</a> pour en savoir plus sur la protection de vos renseignements personnels et votre droit à la vie privée lorsque vous naviguez sur le site Web <a href="/">priv.gc.ca</a> ou que vous communiquez avec le Commissariat à la protection de la vie privée du Canada.</p>
		</section>
		<section>
			<h3>Transparence</h3>
			<ul class="list-unstyled">
				<li><a href="/fr/protection-de-la-vie-privee-et-transparence-au-commissariat/divulgation-proactive/">Divulgation proactive</a></li>
			</ul>
		</section>
	</div>
	<div class="col-md-3">
		<section>
			<h3>Pour communiquer avec nous </h3>
			<p>Vous voulez nous poser une question, nous faire part d’une préoccupation ou déposer une plainte contre une organisation? Nous pouvons vous aider.</p>
			<a href="/fr/communiquer-avec-le-commissariat/" class="btn btn-default active">Communiquer avec le Commissariat</a>
		</section>
		<section>
			<h3>Restez branchés</h3>
			<ul class="list-unstyled">
				<li><span class="fa fa-comments"></span> <a href="http://blog.priv.gc.ca/?lang=fr">Blogue du Commissariat</a></li>
				<li><span class="fa fa-youtube"></span> <a href="https://www.youtube.com/user/PrivacyComm">Chaîne YouTube du Commissariat </a></li>
				<li><span class="fa fa-facebook-square"></span> <a href="https://www.facebook.com/ViePriveeCanada/">Facebook du Commissariat</a></li>
				<li><span class="fa fa-rss-square"></span> <a href="/fr/fils-rss-du-commissariat/">Fils RSS du Commissariat</a></li>
				<li><span class="fa fa-linkedin-square"></span> <a href="https://www.linkedin.com/company/office-of-the-privacy-commissioner-of-canada">LinkedIn du Commissariat</a></li>
				<li><span class="fa fa-twitter"></span> <a href="https://twitter.com/PriveePrivacy">Twitter du Commissariat</a></li>
			</ul>
		</section>
	</div>
</div>
{{/is}}