<!-- secondary navigation if enabled -->
<div class="pnl-strt container nvbar">
	<h2 class="wb-inv">{{{i18n "tmpl-topics-menu"}}}</h2>
	<div class="row">
		<ul class="list-inline menu" role="menubar">
			{{>sitemenucontent}}
		</ul>
	</div>
</div>