<section class="box box-opc box-opc-muted whats-new clearfix">
	<h2 class="h1">News</h2>
	<p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus. Ut feugiat nunc nec orci tincidunt porta.</p>
	<ul class="list-unstyled">
		<li>
			<h2><a href="#">Headline for a news story</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus.</p>
		</li>
		<li>
			<h2><a href="#">Headline for a news story</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus.</p>
		</li>
		<li>
			<h2><a href="#">Headline for a news story</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus.</p>
		</li>
		<li>
			<h2><a href="#">Headline for a news story</a></h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus.</p>
		</li>
	</ul>
	<a class="btn btn-link pull-right" href="#">See all recent news <span class="fa fa-arrow-forward"></span></a>
</section>