---
{
	"title": "Issues and advice",
	"language": "en",
	"altLangPrefix": "topic",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" },
		{ "title": "Protecting Privacy", "link": "../" }
	],
	"dateModified": "2014-10-24",
	"share": "false",
	"feedback": "false",
	"deptfeature": false
}
---
<div class="row profile">
	<div class="col-md-8">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">Nunc consectetur sapien sit amet magna varius tincidunt. Nam lobortis dui sit amet lacus consequat, ut vulputate ex cursus. Curabitur vitae felis at lorem pharetra suscipit at id augue. In vel sem non ex suscipit tristique vitae a augue. Vestibulum ultricies mi vitae sem tincidunt varius. Cras eget ipsum in augue ultrices accumsan.</p>
	</div>
</div>
<div class="row">
	<section class="col-md-12">
		<div class="row">
			<section class="col-md-4">
				<h3 class="h5"><a href="identity-protection/">Identity protection</a></h3>
				<p>Nullam feugiat nibh a metus laoreet lobortis. Suspendisse vitae neque viverra, facilisis massa ut, mattis diam.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Access to personal information</a></h3>
				<p>Praesent ac mi tempus ex tempor ullamcorper. Nam eleifend neque eu arcu consectetur, ac scelerisque risus dignissim.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="online-and-mobile-technologies/">Online and mobile technologies</a></h3>
				<p>Vivamus cursus nibh sed tortor porta suscipit. Sed in velit non velit condimentum porta id sed purus.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Travel information</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu eu nulla sodales ullamcorper nec a turpis. Praesent sed quam id metus vulputate facilisis.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Health, genetic and body informations</a></h3>
				<p>Duis elementum eros malesuada, finibus neque et, consectetur augue. Curabitur porttitor arcu ut pretium molestie.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Privacy at work</a></h3>
				<p>Integer ornare lectus sed turpis convallis vehicula. Nulla in lacus ultrices, congue nibh sit amet, ullamcorper mauris.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Surveillance and monitoring</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu eu nulla sodales ullamcorper nec a turpis. Praesent sed quam id metus vulputate facilisis.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Security, storage and movement  of personal data</a></h3>
				<p>Duis elementum eros malesuada, finibus neque et, consectetur augue. Curabitur porttitor arcu ut pretium molestie.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Advertising and marketing</a></h3>
				<p>Integer ornare lectus sed turpis convallis vehicula. Nulla in lacus ultrices, congue nibh sit amet, ullamcorper mauris.</p>
			</section>
			<div class="clearfix"></div>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Public safety, courts and law enforcement</a></h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id arcu eu nulla sodales ullamcorper nec a turpis. Praesent sed quam id metus vulputate facilisis.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Financial information</a></h3>
				<p>Nullam feugiat nibh a metus laoreet lobortis. Suspendisse vitae neque viverra, facilisis massa ut, mattis diam. Nullam feugiat nibh a metus laoreet lobortis. Suspendisse vitae neque viverra, facilisis massa ut, mattis diam.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="privacy-research/">Consent</a></h3>
				<p>Integer ornare lectus sed turpis convallis vehicula. Nulla in lacus ultrices, congue nibh sit amet, ullamcorper mauris.</p>
			</section>
			<div class="clearfix"></div>
		</div>
	</section>
</div>