---
{
	"title": "The Office of the Privacy Commissioner of Canada Information Centre",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" },
		{ "title": "Contact us", "link": "../" }
	],
	"dateModified": "2014-02-19",
	"share": "false",
	"feedback": "false",
	"pageclass": "secondary",
}
---
<div class="row">
	<div class="col-md-8 pull-right">
		<div class="article-title">

		</div>
	</div>
	<section class="col-md-8">
		<div class="article-content">
			<h1 class="">{{{title}}}</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<h2>Call the Information Centre</h2>
			<p>Integer neque dui, sagittis et consectetur laoreet, imperdiet tempor diam. Fusce neque sem, suscipit vel molestie ut, dapibus nec sapien. Vestibulum massa lacus, blandit ac commodo at, commodo consequat mi. In sodales imperdiet elit id hendrerit. Mauris facilisis ornare ante, et malesuada turpis porta varius.</p>
			<p>
				<span class="tel">
					<span class="type">Toll-free</span>:
					<span class="value">1</span>-<span class="value">800</span>-<span class="value">282</span>-<span class="value">1376</span>
				</span>
			</p>
			<p>
				<span class="tel">
					<span class="type">Phone</span>:
					<span class="value">(819)</span> <span class="value">994</span>-<span class="value">5444</span>
				</span>
			</p>
			<p>
				<span class="tel">
					<span class="type">TTY</span>:
					<span class="value">(819)</span> <span class="value">994</span>-<span class="value">6591</span>
				</span>
			</p>
			<p>
				<span class="tel">
					<span class="type">Fax</span>:
					<span class="value">(819)</span> <span class="value">994</span>-<span class="value">5424</span>
				</span>
			</p>
			<p>Our hours of operation are 9:00am to 4:00pm EST, Monday to Friday, excluding statutory holidays.</p>
			<h2>The Information Centre mailing address</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<address>
				<div class="vcard">
					<p class="fn org">Office of the Privacy Commissioner of Canada<p>
					<p class="adr">
						<span class="street-address">30 Victoria Street</span><br>
						<span class="region">Gatineau, Quebec</span><br>
						<span class="postal-code">K1A 1H3</span><br>
						<span class="country-name">Canada</span>
					</p>
				</div>
			</address>
			<p>Please allow up to 20 business day for reply and return mailing. For information by mail, please ensure that you include a mailing address where you would like the information sent.</p>
			<h2>Ask a question by email</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lobortis ligula. Phasellus auctor venenatis nisl, ac tincidunt augue convallis ac. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed ut mauris quis eros aliquet gravida ut eu ipsum. Donec blandit volutpat arcu, sed viverra quam porttitor nec. Cras vitae vulputate ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</p>
			<p><a class="btn btn-primary btn-lg" href="#" >Fill out the form</a></p>
		</div>
	</section>
	<div class="col-md-4 mrgn-tp-lg">
		<aside class="box box-opc-dull">
			<p class="lead">Would you like to tell us about a privacy concern or would you like to make an informal privacy complaint?</p>
			<p><a class="btn btn-primary btn-block" href="#" >Submit your comment</a></p>
			<p><small>Formal complaints to be investigated by the OPC should be filed under the Privacy Act or the Personal Information Protection and Electronic Documents Act (PIPEDA).</small></p>
		</aside>
	</div>
</div>