---
{
	"title": "Recent news and announcements",
	"language": "en",
	"altLangPrefix": "dept",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" },
		{ "title": "News", "link": "#" },
	],
	"dateModified": "2014-02-19",
	"share": "false",
	"feedback": "false",
	"pageclass": "secondary",
}
---
<div class="row">

	<section class="col-md-8">
		<h1 class="">{{{title}}}</h1>
		<div class="opc-big-list">
			<!---->
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Announcement</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">October 9, 2015</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Office of the Privacy Commissioner funds privacy research video series</a></h2>
							<p class="item-excerpt">As part of its Contributions Program, the Office of the Privacy Commissioner of Canada (OPC) has granted Option consommateursexternal funding for the production of a series of videos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Announcement</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">October 9, 2015</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Office of the Privacy Commissioner funds privacy research video series</a></h2>
							<p class="item-excerpt">As part of its Contributions Program, the Office of the Privacy Commissioner of Canada (OPC) has granted Option consommateursexternal funding for the production of a series of videos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Announcement</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">October 9, 2015</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Office of the Privacy Commissioner funds privacy research video series</a></h2>
							<p class="item-excerpt">As part of its Contributions Program, the Office of the Privacy Commissioner of Canada (OPC) has granted Option consommateursexternal funding for the production of a series of videos.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="row">
					<div class="meta">
						<div class="col-md-6">
							<span class="item-type">Announcement</span>
						</div>
						<div class="col-md-6">
							<time class="item-date" datetime="2015-10-09">October 9, 2015</time>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="item-content">
							<h2 class="item-title"><a href="#">Office of the Privacy Commissioner funds privacy research video series</a></h2>
							<p class="item-excerpt">As part of its Contributions Program, the Office of the Privacy Commissioner of Canada (OPC) has granted Option consommateursexternal funding for the production of a series of videos.</p>
						</div>
					</div>
				</div>
			</div>
			<!---->
			<ul class="pagination">
				<li><a href="#" rel="prev">Previous</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#" rel="next">Next</a></li>
			</ul>
		</div>
	</section>
	<div class="col-md-4 mrgn-tp-lg">
		<section class="box box-opc box-opc-highlight filters filters-cont">
			<h2 class="h1">Filter news</h2>
			<details class="filter-group">
				<summary>
					<h3>Filter by topic</h3>
				</summary>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Lorem ipsum dolor sit amet</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Lorem ipsum</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Dolor sit amet</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Sit amet</label>
					</div>
				</div>
				<a href="#" class="">See more topics</a>
			</details>
			<details class="filter-group">
				<summary>
					<h3>Filter by type</h3>
				</summary>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Announcement</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Media Advisories</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> News releases</label>
					</div>
					<div class="checkbox">
						<label><input type="checkbox" value="" /> Other</label>
					</div>
				</div>
			</details>
			<details class="filter-group">
				<summary>
					<h3>Filter by Year</h3>
				</summary>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2015</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2014</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2013</label>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2012</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> 2011</label>
							</div>
							<div class="checkbox">
								<label><input type="checkbox" value="" /> Older</label>
							</div>
						</div>
					</div>
				</div>
			</details>
		</section>
		<section class="box box-opc box-opc-primary">
			<h2 class="h1 title">Media Relations</h2>
			<p>Fusce vehicula neque commodo erat pharetra, ut rhoncus ante lobortis.dui vitae mi pretium, ac aliquam nunc viverra.</p>
			<h3><a href="#">Contact us</a></h3>
			<p>Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus.</p>
		</section>
	</div>
</div>