---
{
	"title": "Contact us",
	"language": "en",
	"altLangPrefix": "topic",
	"pageclass": "secondary",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" },
	],
	"dateModified": "2014-10-24",
	"share": "false",
	"feedback": "false",
	"deptfeature": false
}
---
<div class="row profile">
	<div class="col-md-8">
		<h1 property="name" id="wb-cont">{{{title}}}</h1>
		<p class="pagetag">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras maximus efficitur metus at hendrerit. Proin eu rhoncus elit. Cras at dui volutpat, varius lacus rhoncus, rhoncus erat. Cras vel nisi eget velit dapibus suscipit sed eget odio. Proin semper nisi diam, vel placerat lectus imperdiet id. Proin ullamcorper hendrerit sem, eu sollicitudin lectus sollicitudin id. Sed sagittis tincidunt nisi, nec maximus nisl consequat id. </p>
	</div>
</div>
<div class="row">
	<section class="col-md-12">
		<div class="row">
			<section class="col-md-4">
				<h3 class="h5"><a href="information-centre/">Contact the Information Centre</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Submit an informal complaint</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Submit a privacy complaint for investigation</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Report an organizational privacy breach</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Make a media enquiry</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
			<section class="col-md-4">
				<h3 class="h5"><a href="#">Make a speaking engagement request</a></h3>
				<p>Donec justo nulla, scelerisque eu rhoncus at, bibendum non risus. Nam tempus massa ipsum, fermentum sollicitudin magna tincidunt sed. Curabitur luctus elit in leo eleifend, eu tempor lorem tempor. Nam tempus augue eu posuere dapibus.</p>
			</section>
		</div>
		<div class="row">
			<section class="col-md-4">
				<h3>Address fo the Office of the Privacy Commissioner of Canada</h3>
				<address>
					<div class="vcard">
						<p class="fn org">Office of the Privacy Commissioner of Canada<p>
						<p class="adr">
							<span class="street-address">30 Victoria Street</span><br>
							<span class="region">Gatineau, Quebec</span><br>
							<span class="postal-code">K1A 1H3</span><br>
							<span class="country-name">Canada</span>
						</p>
					</div>
				</address>
			</section>
		</div>
	</section>
</div>
