.box {
	background-color: $gray-lightest;
	margin-bottom: $padding-large-vertical;
	padding: $padding-large-horizontal;

	>h1,
	>h2,
	>h3 {
		margin-top: 0;
	}

	&.box-opc {
		&.box-opc-primary {
			background-color: #dfecf0;
		}

		&.box-opc-highlight {
			background-color: $color-highlight;

			.h1,
			.h2,
			.h3,
			.h4,
			.h5,
			.h6,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				border-bottom-color: transparentize($white, .5);
			}

			p,
			a,
			.h1,
			.h2,
			.h3,
			.h4,
			.h5,
			.h6,
			h1,
			h2,
			h3,
			h4,
			h5,
			h6,
			label,
			details summary {
				color: $white;
			}

			a {
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: darken($white, 20%);
				}
			}

			ul {
				li {
					font-size: $font-size-large;
					font-weight: 300;

					a {
						display: block;
						padding: $padding-large-vertical 0;

						&:hover,
						&:active,
						&:focus {
							background-color: fade-out($black, .8);
						}
					}

					span.fa {
						font-size: 1.5em;
						text-align: center;
						width: 20%;
					}
				}
			}
		}
	}
}
