/*
 * Main content area
 */
main {
	background-color: transparentize($color-bg, .2);
	margin-top: 0;
	position: relative;

	.pagetag,
	.subtitle {
		color: #555;
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 1em;
	}


	.priorities {
		padding-top: 2em;

		.thumbnail {
			margin-bottom: 1.5em;
			padding: 0;
			padding: initial
		}
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.h1,
	.h2,
	.h3,
	.h4,
	.h5,
	.h6 {
		color: $color-highlight;
		font-weight: 500;
	}
}

.home {
	main {
		padding-top: 3em;
	}
}
