---
{
	"title": "Nous ne pouvons trouver cette page Web (Erreur 404) / We couldn't find that Web page (Error 404)",
	"language": "fr",
	"layout": "servermessage.hbs",
	"breadcrumb": false
}
---
<section lang="fr" class="col-sm-12 col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> Nous ne pouvons trouver cette page Web</h2>
	<p>Erreur 404</p>
	<p>Nous sommes d&#233;sol&#233;s que vous ayez abouti ici. Il arrive parfois qu&#39;une page ait &#233;t&#233; d&#233;plac&#233;e ou supprim&#233;e. Heureusement, nous pouvons vous aider &#224; trouver ce que vous cherchez.</p>
	<p>Notre site Web a r&#233;cemment &#233;t&#233; repens&#233; et r&#233;organis&#233; pour vous aider &#224; trouver l’information dont vous avez besoin.</p>
	<p>Voici quelques liens pour faciliter votre recherche :</p>
	<ul>
		<li><a href="#">Accueil</a></li>
		<li><a href="#">Recherche</a></li>
		<li><a href="#">Pour les individus</a> &ndash; une page comportant des liens vers l’information et les ressources les plus fr&#233;quemment demand&#233;es.</li>
		<li><a href="#">Pour les entreprises</a> &ndash; une page comportant des liens vers l’information qui aide les entreprises &#224; comprendre leurs obligations en mati&#232;re de vie priv&#233;e et &#224; se conformer &#224; la <a href="#">LPRPDE</a>.</li>
		<li><a href="#">Pour les institutions f&#233;d&#233;rales</a> &ndash; une page comportant des liens vers l’information et les ressources conçues pour aider les institutions f&#233;d&#233;rales assujetties &#224; la <a href="#"><em>Loi sur la protection des renseignements personnels</em></a>  &#224; prot&#233;ger la vie priv&#233;e.</li>
		<li><a href="#">Signaler un probl&#232;me</a> une page comportant des liens pour vous permettre de faire part ou de signaler vos pr&#233;occupations au Commissariat.</li>
		<li><a href="#">Mesures et d&#233;cisions prises par le Commissariat</a> &ndash; une page comportant des liens vers les conclusions de nos <a href="#">enquêtes</a> et <a href="#">v&#233;rifications</a>, nos <a href="#">conseils au Parlement</a> et <a href="#">rapports au Parlement</a>, nos <a href="#">m&#233;moires pr&#233;sent&#233;s dans le cadre de consultations</a>, et <a href="#">recherche sur la vie priv&#233;e</a>.</li>
		<li><a href="#">&#192; propos du Commissariat</a> &ndash; une page comportant des liens vers l’information sur <a href="#">qui nous sommes</a>, <a href="#">ce que nous faisons</a>, les <a href="#">rapports op&#233;rationnels du Commissariat</a>, l’<a href="#">Acc&#232;s &#224; l'information et protection des renseignements personnels au Commissariat</a>, et plus encore.</li>
		<li><a href="#">Publications</a></li>
		<li><a href="#">Nouvelles et annonces</a></li>
	</ul>
</section>

<section class="col-sm-12 col-md-6">
	<h2><span class="glyphicon glyphicon-warning-sign mrgn-rght-md"></span> We couldn't find that Web page</h2>
	<p>Error 404</p>
	<p>We're sorry you ended up here. Sometimes a page gets moved or deleted.</p>
	<p>We also recently reorganized and redesigned our website to help users find the information they need.</p>
	<p>Here are some links to help you find what you're looking for:</p>
	<ul>
		<li><a href="#">Home page</a></li>
		<li><a href="#">Search page</a></li>
		<li><a href="#">For individuals</a> &ndash; a page with links to information and resources that individuals frequently request from us.</li>
		<li><a href="#">For businesses</a> &ndash; a page with links to information that helps businesses understand their privacy obligations and comply with <a href="#">PIPEDA</a>.</li>
		<li><a href="#">For federal institutions</a> &ndash; a page with links to information and resources designed to help federal institutions subject to the <a href="#"><em>Privacy Act</em></a> protect privacy.</li>
		<li><a href="#">Report a concern</a> &ndash; a page with links for identifying and reporting concerns to our Office.</li>
		<li><a href="#">OPC actions and decisions</a> &ndash; a page with links to findings from our <a href="#">investigations</a> and <a href="#">audits</a>, our <a href="#">advice to Parliament</a> and <a href="#">reports to Parliament</a>, our <a href="#">submissions to consultations</a>, and privacy <a href="#">research</a>.</li>
		<li><a href="#">About the OPC</a> &ndash; a page with links to information about <a href="#">who we are</a>, <a href="#">what we do</a>, our <a href="#">operational reports</a>, <a href="#">OPC access to information and privacy</a>, and more.</li>
		<li><a href="#">Publications</a></li>
		<li><a href="#">News and announcements</a></li>
	</ul>
</section>
