---
{
	"title": "Test Blank",
	"language": "fr",
	"breadcrumb": [
		{ "title": "Accueil", "link": "/home.html" },
		{ "title": "BOEW", "link": "#" },
	],
	"dateModified": "2014-02-19",
	"altLangPrefix": "blank",
	"share": "false",
	"feedback": "false",
	"pageclass": "secondary",
}
---

<div class="row">
	<div class="col-md-12">
		<h1 id="wb-cont">Entête primaire</h1>
	</div>
	
	<section class="col-md-12">
		<div class="row">
			<section class="col-md-12">
				<h2>Entête secondaire</h2>
				<p>Content</p>
			</section>
		</div>
	</section>
</div>