---
{
	"title": "Welcome to the Office of the Privacy Commissioner",
	"language": "en",
	"altLangPrefix": "home",
	"pageclass": "home",
	"breadcrumb": "false",
	"toplevel": true,
	"dateModified": "2014-10-23",
	"share": "false"
}
---
<section>
	<div class="row">
		<div class="col-md-9">

			<section class="about-opc carousel">
				<div class="wb-tabs carousel-s2">
					<ul role="tablist">
						<li class="active"><a href="#panel1">Tab 1</a></li>
						<li><a href="#panel2">Tab 2</a></li>
					</ul>
					<div class="tabpanels">
						<div role="tabpanel" id="panel1" class="in fade">
							<figure class="">
								<img src="https://via.placeholder.com/730x250?text=Placeholder" alt="Panel 1" />
								<figcaption>
									<h1 class="h5 mrgn-tp-sm">About the Office of the Privacy Commissioner of Canada</h1>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
								</figcaption>
							</figure>
						</div>
						<div role="tabpanel" id="panel2" class="out fade">
							<figure>
								<img src="https://via.placeholder.com/730x250?text=Placeholder" alt="Panel 2" />
								<figcaption>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</figcaption>
							</figure>
						</div>
					</div>
				</div>
			</section>

			<section class="faq mrgn-bttm-lg">
				<h2 class="h1">Frequently asked about topics</h2>
				<div class="row wb-eqht">
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Your social insurance number</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Identity theft</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Online privacy</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Privacy legislation in Canada</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Raising a privacy concern</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">Accessing your personal information</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">PIPEDA</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">The Privacy Act</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
					<section class="col-lg-4 col-sm-6 mrgn-bttm-md">
						<a href="#">
							<img src="https://via.placeholder.com/270x75?text=Placeholder" alt="" class="img-responsive thumbnail mrgn-bttm-sm">
							<h3 class="h6">OPC Investigations</h3>
						</a>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ultricies malesuada nisl et tempus. Nam lacus nisi, ornare sed dapibus et, auctor at lectus.</p>
					</section>
				</div>
				<div class="row">
					<a href="#" class="btn btn-primary btn-lg pull-right">See all privacy topics <span class="fa fa-arrow-right"></span></a>
				</div>
			</section>
		</div>
		<div class="col-md-3">
			{{>needourhelp}}
			{{>whatsnew}}
		</div>
	</div>
</section>