--- {
	"title": "",
	"language": "en",
	"altLangPrefix": "",
	"pageclass": "home",
	"breadcrumb": [
		{ "title": "Home", "link": "/home.html" }
	],
	"toplevel": true,
	"share": "false"
} ---
<section>
	<form name="cse-search-box" method="GET" action="#" id="cse-search-box" role="form" class="mrgn-bttm-md">
		<p class="wb-inv">
			<label for="sch-inp">Search all Government of Canada Websites</label>
		</p>
		<div class="input-group">
			<input style="outline: none;" spellcheck="false" autocomplete="off" dir="ltr" id="sch-inp" name="q" class="form-control"
			value="search" type="search">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary btn-small" name="wb-srch-sub">
					<span class="glyphicon-search glyphicon"></span><span class="wb-inv">Search</span>
				</button>
			</span>
		</div>
	</form>
	<div class="row">
		<div class="col-md-2 col-md-offset-8 text-right">
			<a href="#">Advanced search</a>
		</div>
		<div class="col-md-2 text-right">
			<a href="#">Search tips</a>
		</div>
	</div>

	<section>
		<div class="result">
			<h2 tabindex="-1" id="wb-land" class="h4">About 1,790,000 search results for "search"</h2>
			<div class="row">
				<div class="col-md-8">
					<section>
						<h3 class="h4"><a href="http://www.jobbank.gc.ca/advanced_search.do" onclick="javascript:trackclick(this,'organic',1)">Advanced <b>Search</b> - Job Bank</a></h3>
						<p><span>www.jobbank.gc.ca/advanced_search.do</span></p>
						<p> Jun 12, 2015 <b>...</b> Home; Advanced <b>Search</b>. Advanced <b>Search</b>. Keyword. Job Number. Period of Employment.
							Full-Time; Part-Time. Language at Work. Bilingual</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.cic.gc.ca/english/citizenship/search-how.asp" onclick="javascript:trackclick(this,'organic',2)"><b>Search</b> of citizenship records</a></h3>
						<p><span>www.cic.gc.ca/english/citizenship/search-how.asp</span></p>
						<p> Jan 29, 2016 <b>...</b> <b>Search</b> of citizenship records. Apply. To apply for a <b>search</b> of citizenship records,
							you must do the following:&nbsp;...</p>
					</section>
					<section>
						<h3 class="h4"><a href="https://emploisfp-psjobs.cfp-psc.gc.ca/psrs-srfp/applicant/page2440?toggleLanguage=en" onclick="javascript:trackclick(this,'organic',3)">Job <b>search</b></a></h3>
						<p><span>emploisfp-psjobs.cfp-psc.gc.ca/psrs-srfp/applicant/page2440?toggleLanguage=en</span></p>
						<p> Closing date: 2016-02-17. Parks Canada - Cape Breton Field Unit Baddeck ( Nova Scotia), Cheticamp (Nova Scotia), Fortress
							of Louisbourg National Historic &nbsp;...
						</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.cic.gc.ca/english/information/applications/search.asp" onclick="javascript:trackclick(this,'organic',4)">Application for a <b>Search</b> of Citizenship Records</a></h3>
						<p><span>www.cic.gc.ca/english/information/applications/search.asp</span></p>
						<p> Oct 28, 2015 <b>...</b> Application for a <b>Search</b> of Citizenship Records. You are no longer able to order new
							Payment Receipt forms (IMM 5401) from CIC. Canadian&nbsp;...</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=srch&amp;ln=eng" onclick="javascript:trackclick(this,'organic',5)">Service Canada Forms - <b>Search</b> for Forms</a></h3>
						<p><span>www.servicecanada.gc.ca/cgi-bin/search/eforms/index.cgi?app=srch&amp;ln=eng</span></p>
						<p>23 hours ago <b>...</b> <b>Search</b> for Forms. To quickly find a form, enter one of the following: a full form number
							without spaces (example: NAS2921); a full form title (example: Beneficiary&nbsp;...
						</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.ic.gc.ca/opic-cipo/cpd/eng/search/number.html" onclick="javascript:trackclick(this,'organic',6)">Number <b>Search</b> - Canadian Patents Database</a></h3>
						<p><span>www.ic.gc.ca/opic-cipo/cpd/eng/search/number.html</span></p>
						<p> for the latest updated information of the database, see the Currency of information area. <b>Search</b> Patent Number.
							Patent Number: (Max. 7 Digits). Example:&nbsp;...
						</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.international.gc.ca/about-a_propos/search-recherche.aspx?lang=eng" onclick="javascript:trackclick(this,'organic',7)"><b>Search</b></a></h3>
						<p><span>www.international.gc.ca/about-a_propos/search-recherche.aspx?lang=eng</span></p>
						<p> Nov 27, 2015 <b>...</b> This <b>search</b> engine lets you <b>search</b> all Foreign Affairs and International Trade
							Canada websites, including those of its offices abroad.</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://ccinfoweb.ccohs.ca/chemindex/search.html" onclick="javascript:trackclick(this,'organic',8)">CHEMINDEX <b>Search</b></a></h3>
						<p><span>ccinfoweb.ccohs.ca/chemindex/search.html</span></p>
						<p> CHEMINDEX <b>Search</b>. Enter a Chemical Name or CAS Registry Number to see if that chemical is listed in our Web
							Information Service. Click on "Synonyms" to&nbsp;...</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://www.nss-snrs.gc.ca/en/index.page" onclick="javascript:trackclick(this,'organic',9)">National <b>Search</b> and Rescue Secretariat: Home</a></h3>
						<p><span>www.nss-snrs.gc.ca/en/index.page</span></p>
						<p> Aug 4, 2015 <b>...</b> Supports and promotes <b>search</b> and rescue activities throughout Canada. Includes overview,
							initiatives, organizations, and resources.</p>
					</section>
					<section>
						<h3 class="h4"><a href="http://ccinfoweb.ccohs.ca/cheminfo/search.html" onclick="javascript:trackclick(this,'organic',10)">CHEMINFO <b>Search</b></a></h3>
						<p><span>ccinfoweb.ccohs.ca/cheminfo/search.html</span></p>
						<p> CHEMINFO <b>Search</b>. You must have an annual subscription to view the records that result from this <b>search</b>.
							Not yet a subscriber?? Please contact CCOHS Client &nbsp;...
						</p>
					</section>

					<div class="text-center">
						<ul class="pagination">
							<li class="active"><a href="">1 <span class="wb-inv">: Page 1 of search results</span></a></li>
							<li><a href="#">2 <span class="wb-inv">: Page 2 of search results</span></a></li>
							<li><a href="#" class="hidden-sm hidden-xs">3 <span class="wb-inv">: Page 3 of search results</span></a></li>
							<li><a href="#" class="hidden-sm hidden-xs">4 <span class="wb-inv">: Page 4 of search results</span></a></li>
							<li><a href="#" class="visible-lg">5 <span class="wb-inv">: Page 5 of search results</span></a></li>
							<li><a href="#" class="visible-lg">6 <span class="wb-inv">: Page 6 of search results</span></a></li>
							<li><a href="#" class="visible-lg">7 <span class="wb-inv">: Page 7 of search results</span></a></li>
							<li><a href="#" class="visible-lg">8 <span class="wb-inv">: Page 8 of search results</span></a></li>
							<li><a href="#" class="visible-lg">9 <span class="wb-inv">: Page 9 of search results</span></a></li>
							<li><a href="#" class="visible-lg">10 <span class="wb-inv">: Page 10 of search results</span></a></li>
							<li><a rel="next" href="#">Next<span class="wb-inv"> page of search results</span></a></li>
						</ul>
					</div>
				</div>
				<section class="col-md-4 srch-fltr">
					<div class="panel panel-default">
						<header class="panel-heading">
							<h3 class="panel-title">Filter your results</h3>
						</header>
						<div class="panel-body">
							<h4 class="mrgn-tp-0">By date:</h4>
							<ul>
								<li>
									<strong>
										<a href="#">Anytime</a>
										<i class="glyphicon glyphicon-ok">
											<span class="wb-inv">Selected</span>
										</i>
									</strong>
								</li>
								<li>
									<a href="#">Past 24 hours</a>
								</li>
								<li>
									<a href="#">Past week</a>
								</li>
								<li>
									<a href="#">Past month</a>
								</li>
								<li>
									<a href="#">Past year</a>
								</li>
							</ul>
							<h4>By file type:</h4>
							<ul>
								<li>
									<a href="#">Adobe PDF (Portable Document Format)</a>
								</li>
								<li>
									<a href="#">Word processing documents</a>
								</li>
								<li>
									<a href="#">Spreadsheets</a>
								</li>
							</ul>
						</div>
						<div class="panel-footer">
							<p>
								<a href="#">Reset filters</a>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
</section>