---
{
	"title": "Office of the Privacy Commissioner",
	"toplevel": false,
	"pageclass": "splash",
	"description-en": "",
	"description-fr": "",
	"creator-en": "Office of the Privacy Commissioner",
	"creator-fr": "Commissariat à la protection de la vie privée du Canada",
	"subject-en": "Office of the Privacy Commissioner",
	"subject-fr": "Commissariat à la protection de la vie privée du Canada",
	"language": "en",
	"section": "message",
	"dateModified": "2014-02-19"
}
---

<div class="sp-hb">
	<div class="sp-bx col-xs-12">
		<h1 property="name" class="wb-inv">{{title}}</h1>
		<div class="row">
			<div class="col-md-12">
				<object type="image/svg+xml" tabindex="-1" role="img" data="{{assets}}/../{{site.theme}}/assets/opc-blk-fr.svg" aria-label="Commissariat à la protection de la vie privée du Canada / Office of the Privacy Commissioner"></object>
			</div>
		</div>
		<div class="row">
			<section class="col-xs-6 text-right" lang="fr">
				<h2 class="wb-inv">Commissariat à la protection de la vie privée du Canada</h2>
				<p><a href="#" class="btn btn-primary">Français</a></p>
			</section>
			<section class="col-xs-6 ">
				<h2 class="wb-inv">Office of the Privacy Commissioner</h2>
				<p><a href="./home.html" class="btn btn-primary">English</a></p>
			</section>
		</div>
	</div>
	<div class="sp-bx-bt col-xs-12">
		<div class="row">
			<div class="col-xs-7 col-md-8">
				<a href="#" class="sp-lk">Terms & conditions</a> <span class="glyphicon glyphicon-asterisk"></span> <a href="#" class="sp-lk" lang="fr">Avis</a>
			</div>
		</div>
	</div>
</div>
