---
{
	"title": "Blog",
	"language": "en",
	"altLangPrefix": "home",
	"pageclass": "blog",
	"breadcrumb": "false",
	"toplevel": true,
	"dateModified": "2017-03-10",
	"share": "false"
}
---

<article class="row box mrgn-bttm-lg">
	<div class="content col-md-4">
		<h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper porta.</a></h2>
		<p>Pellentesque pellentesque et elit in cursus. Praesent luctus malesuada viverra. Quisque vitae ante tempus, tincidunt ex vitae, ultrices elit. </p>
		<a class="btn btn-primary" href="#">Read More</a>
	</div>
	<div class="img col-md-8">
		<img src="http://placehold.it/700x400?text=Post+Image" class="img-responsive" alt="">
	</div>
</article>

<section class="row mrgn-tp-lg">
	<section class="col-md-7">
		<section class="posts row ">
			<article class="col-md-12 mrgn-bttm-lg brdr-tp">
				<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
				<div class="post-meta">
					<p><a href="#" class="link">Author</a>, 13 March 2017 - <a href="#" class="link">Category/tag</a>, <a href="#" class="link">Category/tag</a></p>
				</div>
				<div class="post-img">
					<img src="http://placehold.it/700x400?text=Post+Image" class="img-responsive" alt="">
				</div>
				<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. </p>
				<a class="btn btn-primary mrgn-bttm-md" href="#">Read More</a>
			</article>
			<article class="col-md-12 mrgn-bttm-lg brdr-tp">
				<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
				<div class="post-meta">
					<p><a href="#" class="link">Author</a>, 13 March 2017 - <a href="#" class="link">Category/tag</a>, <a href="#" class="link">Category/tag</a></p>
				</div>
				<div class="post-img">
					<img src="http://placehold.it/700x400?text=Post+Image" class="img-responsive" alt="">
				</div>
				<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. </p>
				<a class="btn btn-primary mrgn-bttm-md" href="#">Read More</a>
			</article>
			<article class="col-md-12 mrgn-bttm-lg brdr-tp">
				<h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></h3>
				<div class="post-meta">
					<p><a href="#" class="link">Author</a>, 13 March 2017 - <a href="#" class="link">Category/tag</a>, <a href="#" class="link">Category/tag</a></p>
				</div>
				<div class="post-img">
					<img src="http://placehold.it/700x400?text=Post+Image" class="img-responsive" alt="">
				</div>
				<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. </p>
				<a class="btn btn-primary mrgn-bttm-md" href="#">Read More</a>
			</article>
		</section>
		<div class="row">
			<ul class="pagination">
				<li><a href="#" rel="prev">Previous</a></li>
				<li class="active"><a href="#">1 <span class="wb-inv">Go to Page 1</span></a>
				<li><a href="#">2 <span class="wb-inv">Go to Page 2</span></a></li>
				<li><a href="#" rel="next">Next</a></li>
			</ul>
		</div>
	</section>

	{{!--Sidebar--}}
	<aside class="sidebar col-md-4 col-md-offset-1">
		<div class="box box-opc box-opc-primary">
			<h2>Search OPC blog</h2>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only">Search OPC blog</label>
					<input type="text" class="form-control" placeholder="Search OPC blog">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>

		<div class="box">
			<h2>About the OPC blog</h2>
			<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. Aenean consectetur ornare vehicula. Quisque cursus est nec ligula scelerisque luctus.</p>
			<p><a href="#">Find out more</a>
		</div>

		<div class="box box-opc box-opc-primary">
			<h2>Categories</h2>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only">Categories</label>
					<select class="form-control">
						<option value="-1">Select category</option>
						<option value="1">Category ###</option>
						<option value="2">Category ###</option>
						<option value="3">Category ###</option>
					</select>
					<button type="submit" class="btn btn-primary">Go</button>
				</div>
			</form>
		</div>

		<div class="box box-opc box-opc-highlight">
			<h2 class="h3">Sign up for updates</h2>
			<ul class="list-unstyled">
				<li><a href="#"><span class="fa fa-fw fa-rss"></span> RSS</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Recent Posts</h2>
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Archives</h2>
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">February 2017</a></li>
				<li><a href="#">January 2017</a></li>
				<li><a href="#">December 2016</a></li>
				<li><a href="#">November 2016</a></li>
				<li><a href="#">October 2016</a></li>
				<li><a href="#">See full archives</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Comments and moderation</h2>
			<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. Aenean consectetur ornare vehicula. Quisque cursus est nec ligula scelerisque luctus.</p>
			<p><a href="#">Read our guidelines</a>
		</div>

	</aside>
	{{!--/Sidebar--}}
</section>
