---
{
	"title": "OPC Blog",
	"language": "en",
	"altLangPrefix": "home",
	"pageclass": "blog",
	"breadcrumb": "false",
	"toplevel": true,
	"dateModified": "2017-03-10",
	"share": "false"
}
---

<section class="row mrgn-tp-lg">
	<section class="col-md-7">
		<article class="col-md-12 mrgn-bttm-lg">
			<h2 class="mrgn-tp-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
			<div class="post-meta">
				<p><a href="#" class="link">Author</a>, 13 March 2017 - <a href="#" class="link">Category/tag</a>, <a href="#" class="link">Category/tag</a></p>
			</div>
			<div class="post-img"> <img src="http://placehold.it/700x400?text=Post+Image" class="img-responsive mrgn-bttm-md" alt=""> </div>
			<div class="entry-content">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper porta. Pellentesque pellentesque
					et elit in cursus. Praesent luctus malesuada viverra. <br> <span id="more-5803"></span></p>
				<p><strong>Quisque vitae ante tempus, tincidunt ex vitae, ultrices elit. </strong></p>
				<p><strong>Lorem ipsum dolor </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra ullamcorper
					porta. Pellentesque pellentesque et elit in cursus. Praesent luctus malesuada viverra. Quisque vitae ante tempus, tincidunt
					ex vitae, ultrices elit. Ut sagittis, eros in pulvinar consequat, quam orci vestibulum nisl, eu dignissim tellus elit
					eu ligula.</p>
				<figure id="attachment_5805" class="thumbnail wp-caption aligncenter pull-right mrgn-lft-md" style="width: 310px">
				<img class="img-responsive" src="http://placehold.it/700x400?text=Post+Image" alt="" width="310" height="207">
					<figcaption
					 class="caption wp-caption-text"> Aenean tincidunt mi ac ultricies congue. Mauris pharetra luctus diam vel suscipit. Phasellus a risus odio. Cras quis
						dictum risus. Suspendisse et felis odio. Integer non commodo ex, sit amet suscipit ligula. Nam posuere arcu ac felis
						placerat, at feugiat dolor efficitur. <br>Photo: Donec Porttitor </figcaption>
				</figure>
				<p><strong>Gullam aliquam condimentum est, a venenatis sapien.</strong></p>
				<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed
					libero. Aenean consectetur ornare vehicula. Quisque cursus est nec ligula scelerisque luctus. Duis risus dui, semper
					iaculis tempor vitae, luctus eu enim. Quisque lacinia arcu et ullamcorper mattis. Curabitur ac eleifend nisl, ac feugiat
					nulla. Nullam venenatis tincidunt aliquet.</p>
				<p><strong>Duis ac tempus enim, nec imperdiet justo.</strong></p>
				<p>Duis ac tempus enim, nec imperdiet justo. Etiam vel pretium mauris, at commodo odio. Proin lacinia nisi eu feugiat finibus.
					Duis diam tellus, molestie non dapibus vel, cursus nec tellus. Ut quis nibh cursus, ornare velit nec, semper dolor.
					Fusce quis neque sed nisl maximus posuere. Quisque eros leo, tristique eget pretium ac, volutpat vitae urna. Duis mattis
					felis sit amet nisi porta scelerisque. Mauris congue nisi vel ullamcorper sollicitudin. Vivamus pellentesque metus et
					nibh consectetur commodo. Fusce vel ornare tortor. Nam dapibus nec eros ut aliquam.</p>
				<p>Aenean tincidunt mi ac ultricies congue:</p>
				<blockquote>
					<p>Nulla facilisi. In odio erat, hendrerit rhoncus lobortis et, malesuada vitae libero. Nulla consectetur lorem vitae arcu
						aliquet, sit amet sagittis enim sollicitudin. Suspendisse imperdiet nulla sit amet viverra dapibus. Sed at erat a ante
						ultricies semper viverra at enim. Aenean suscipit ipsum quis quam lobortis, non luctus sapien cursus. Curabitur commodo
						elit dolor, et hendrerit enim efficitur ac. </p>
				</blockquote>
			</div>
			<footer class="single">
				<p class="tags"><strong>Tags:</strong> <a href="#" rel="tag">lobortis</a>, <a href="#" rel="tag">sapien</a>, <a href="#" rel="tag">commodo</a></p>
			</footer>
		</article>
		<ul class="pager">
			<li class="previous"><a href="#" rel="prev">Previous</a></li>
			<li class="next"><a href="#" rel="next">Next</a></li>
		</ul>

		{{!--Comments--}}
		<section id="comments" class="comments">
			<h3>21 comments</h3>
			<ol class="media-list">
				<li  class="comment even thread-even depth-1 media comment-85255 brdr-tp">
					<div class="media-body mrgn-tp-md">
						<p class="media-heading mrgn-tp-md"> <span class="author"><strong>Carmel Brown</strong></span>
							<time datetime="2017-01-30T05:36:08+00:00">— 30/01/2017</time>
						</p>
						<div class="comment-body">
							<p>Nulla facilisi. In odio erat, hendrerit rhoncus lobortis et, malesuada vitae libero. Nulla consectetur lorem vitae arcu aliquet, sit amet sagittis enim sollicitudin. Suspendisse imperdiet nulla sit amet viverra dapibus. Sed at erat a ante ultricies semper viverra at enim. Aenean suscipit ipsum quis quam lobortis, non luctus sapien cursus. Curabitur commodo elit dolor, et hendrerit enim efficitur ac.</p> <a href="#"
							rel="external nofollow" title="Link to this comment" class="comment-link">Link to this comment</a> </div>
					</div>
				</li>
				<li  class="comment even thread-even depth-1 media comment-85255 brdr-tp">
					<div class="media-body mrgn-tp-md">
						<p class="media-heading mrgn-tp-md"> <span class="author"><strong>Carmel Brown</strong></span>
							<time datetime="2017-01-30T05:36:08+00:00">— 30/01/2017</time>
						</p>
						<div class="comment-body">
							<p>Nulla facilisi. In odio erat, hendrerit rhoncus lobortis et, malesuada vitae libero. Nulla consectetur lorem vitae arcu aliquet, sit amet sagittis enim sollicitudin. Suspendisse imperdiet nulla sit amet viverra dapibus. Sed at erat a ante ultricies semper viverra at enim. Aenean suscipit ipsum quis quam lobortis, non luctus sapien cursus. Curabitur commodo elit dolor, et hendrerit enim efficitur ac.</p> <a href="#"
							rel="external nofollow" title="Link to this comment" class="comment-link">Link to this comment</a> </div>
					</div>
				</li>
			</ol>
		</section>
		{{!--/Comments--}}

	</section>

	{{!--Sidebar--}}
	<aside class="sidebar col-md-4 col-md-offset-1">
		<div class="box box-opc box-opc-primary">
			<h2>Search OPC blog</h2>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only">Search OPC blog</label>
					<input type="text" class="form-control" placeholder="Search OPC blog">
					<button type="submit" class="btn btn-primary">Search</button>
				</div>
			</form>
		</div>

		<div class="box">
			<h2>About the OPC blog</h2>
			<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. Aenean consectetur ornare vehicula. Quisque cursus est nec ligula scelerisque luctus.</p>
			<p><a href="#">Find out more</a>
		</div>

		<div class="box box-opc box-opc-primary">
			<h2>Categories</h2>
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only">Categories</label>
					<select class="form-control">
						<option value="-1">Select category</option>
						<option value="1">Category ###</option>
						<option value="2">Category ###</option>
						<option value="3">Category ###</option>
					</select>
					<button type="submit" class="btn btn-primary">Go</button>
				</div>
			</form>
		</div>

		<div class="box box-opc box-opc-highlight">
			<h2 class="h3">Sign up for updates</h2>
			<ul class="list-unstyled">
				<li><a href="#"><span class="fa fa-fw fa-rss"></span> RSS</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Recent Posts</h2>
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
				<li><a href="#">Suspendisse nec suscipit urna. In neque tortor, aliquam ac congue aliquam, rhoncus vel nisi.</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Archives</h2>
			<ul class="list-unstyled lst-spcd">
				<li><a href="#">February 2017</a></li>
				<li><a href="#">January 2017</a></li>
				<li><a href="#">December 2016</a></li>
				<li><a href="#">November 2016</a></li>
				<li><a href="#">October 2016</a></li>
				<li><a href="#">See full archives</a></li>
			</ul>
		</div>

		<div class="box">
			<h2>Comments and moderation</h2>
			<p>Suspendisse eget laoreet nulla. Aenean sed felis orci. Vivamus nisl diam, malesuada sit amet varius eu, lobortis sed libero. Aenean consectetur ornare vehicula. Quisque cursus est nec ligula scelerisque luctus.</p>
			<p><a href="#">Read our guidelines</a>
		</div>

	</aside>
	{{!--/Sidebar--}}

</section>
