main {
	.btn-primary {
		background-color: $color-primary;
		border-color: $color-primary;

		&:hover {
			background-color: darken($color-primary, 10%);
		}
	}

	.btn-default {
		color: $color-primary;

		&:visited {
			color: $color-primary;
		}
	}

	.btn-highlight {
		background-color: $color-highlight;
		color: $white;

		&:hover,
		&:active,
		&:focus {
			background-color: darken($color-highlight, 15%);
		}

		&.inverse {
			background-color: $white;
			color: $color-highlight;

			&:hover,
			&:active,
			&:focus {
				background-color: darken($white, 15%);
			}
		}
	}
}
